<div>
    <div id="pdf" class="h-[40em]">
        <h1 class="text-3xl font-bold underline mb-5">
            test pdf
        </h1>
        <table>
            <thead>
                <tr>
                    <th class="bg-slate-100">
                        test
                    </th>
                    <th>
                        test 2
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-slate-100">
                        data 1
                    </td>
                    <td>
                        data 2
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button (click)="savePdf()">
        save
    </button>
</div>